include AUTHORS
include README.rst
include LICENSE
recursive-include fluentcms_privatenotes/locale *.po *.mo
recursive-include fluentcms_privatenotes/static *.css
recursive-include fluentcms_privatenotes/templates *.html
